html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	background: #000;
	color: #ddd;
	margin: auto 8%;
	word-wrap: break-word;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 14px;
	line-height: 1.5;
}

.hero {
	padding: 30vh 0;
}

.octicon {
	display: inline-block;
	vertical-align: text-top;
	fill: currentColor
}

article {
	display: block
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects
}

a:active,
a:hover {
	outline-width: 0
}

strong {
	font-weight: inherit
}

strong {
	font-weight: bolder
}

img {
	border-style: none
}

code {
	font-family: monospace, monospace;
	font-size: 1em
}

button {
	font: inherit;
	margin: 0
}

button {
	overflow: visible
}

button {
	text-transform: none
}

button,
html [type="button"] {
	-webkit-appearance: button
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner {
	border-style: none;
	padding: 0
}

button:-moz-focusring,
[type="button"]:-moz-focusring {
	outline: 1px dotted ButtonText
}

::-webkit-input-placeholder {
	color: inherit;
	opacity: 0.54
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit
}

* {
	box-sizing: border-box
}

button {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit
}

body {
}

a {
	color: #7759ff;
	text-decoration: none
}

a:hover {
	text-decoration: underline
}

strong {
	font-weight: 600
}

button {
	cursor: pointer
}

h1,
h2 {
	margin: 30px 0;
	color: #ccc
}

h1 {
	font-size: 32px;
	font-weight: 600;
}

h2 {
	font-size: 24px;
	font-weight: 600
}

p {
	margin-top: 0;
	margin-bottom: 10px
}

blockquote {
	margin: 0
}

code {
	font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 12px
}

.octicon {
	vertical-align: text-bottom
}

::-webkit-input-placeholder {
	color: #6a737d
}

:-ms-input-placeholder {
	color: #6a737d
}

.d-none {
	display: none !important
}

.flash {
	position: relative;
	padding: 16px;
	color: #032f62;
	background-color: #dbedff;
	border: 1px solid rgba(27, 31, 35, 0.15);
	border-radius: 3px
}

.flash-close {
	float: right;
	padding: 16px;
	margin: -16px;
	color: inherit;
	text-align: center;
	cursor: pointer;
	background: none;
	border: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	opacity: 0.6
}

.flash-close:hover {
	opacity: 1
}

.flash-warn {
	color: #735c0f;
	background-color: #fffbdd;
	border-color: rgba(27, 31, 35, 0.15)
}

.flash-error {
	color: #86181d;
	background-color: #ffdce0;
	border-color: rgba(27, 31, 35, 0.15)
}

.markdown-body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 16px;
	line-height: 1.5;
	word-wrap: break-word
}

.markdown-body::before {
	display: table;
	content: ""
}

.markdown-body::after {
	display: table;
	clear: both;
	content: ""
}

.markdown-body>*:first-child {
	margin-top: 0 !important
}

.markdown-body .anchor {
	float: left;
	padding-right: 4px;
	margin-left: -20px;
	line-height: 1
}

.markdown-body .anchor:focus {
	outline: none
}

.markdown-body p,
.markdown-body blockquote {
	margin-top: 0;
	margin-bottom: 16px
}

.markdown-body blockquote {
	padding: 0 1em;
	color: #AAA;
	border-left: 0.25em solid #dfe2e5
}

.markdown-body blockquote>:first-child {
	margin-top: 0
}

.markdown-body blockquote>:last-child {
	margin-bottom: 0
}

.markdown-body h1,
.markdown-body h2 {
	font-weight: 600;
	line-height: 1.25
}

.markdown-body h1 .octicon-link,
.markdown-body h2 .octicon-link {
	color: #1b1f23;
	vertical-align: middle;
	visibility: hidden
}

.markdown-body h1:hover .anchor,
.markdown-body h2:hover .anchor {
	text-decoration: none
}

.markdown-body h1:hover .anchor .octicon-link,
.markdown-body h2:hover .anchor .octicon-link {
	visibility: visible
}

.markdown-body h1 {
	padding-bottom: 0.3em;
	font-size: 2em;
	border-bottom: 1px solid #eaecef
}

.markdown-body h2 {
	padding-bottom: 0.3em;
	font-size: 1.5em;
	border-bottom: 1px solid #eaecef
}

.markdown-body img {
	max-width: 100%;
	box-sizing: content-box;
}

.markdown-body code {
	padding: 0.2em;
	margin: 0;
	font-size: 85%;
	background-color: rgba(27, 31, 35, 0.5);
	border-radius: 3px
}

.markdown-body code::before,
.markdown-body code::after {
	letter-spacing: -0.2em;
	content: "\00a0"
}

.ajax-error-message {
	position: fixed;
	top: -200px;
	left: 50%;
	z-index: 9999;
	display: none;
	width: 974px;
	margin: 0 3px;
	margin-left: -487px;
	transition: top 0.5s ease-in-out
}

.ajax-error-message>.octicon-alert {
	vertical-align: text-top
}

.full-commit .btn-outline:not(:disabled):hover {
	color: #005cc5;
	border-color: #005cc5
}

g-emoji {
	font-family: "Apple Color Emoji", "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 18px;
	font-weight: normal;
	line-height: 20px;
	vertical-align: middle
}

.facebox {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	padding-bottom: 40px
}

.facebox-popup {
	position: relative;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(27, 31, 35, 0.25);
	border-radius: 5px;
	box-shadow: 0 0 18px rgba(27, 31, 35, 0.4)
}

.facebox-content {
	width: 455px;
	padding: 15px
}

.facebox-content::before {
	display: table;
	content: ""
}

.facebox-content::after {
	display: table;
	clear: both;
	content: ""
}

.facebox-close {
	position: absolute;
	top: 8px;
	right: 5px;
	padding: 10px;
	cursor: pointer;
	background-color: transparent;
	border: 0;
	opacity: 0.25;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}

.facebox-close:hover {
	opacity: 1
}

.flash-banner {
	position: fixed;
	top: 0;
	z-index: 42;
	width: 100%;
	border-top: 0;
	border-right: 0;
	border-left: 0;
	border-radius: 0
}

.signed-in-tab-flash,
.signed-out-tab-flash {
	display: none
}

:checked+.radio-label {
	position: relative;
	z-index: 1;
	border-color: #0366d6
}

@media print {
	p {
		page-break-inside: avoid
	}
	.markdown-body h2 {
		page-break-after: avoid
	}
}

article {
	max-width: 600px;
	margin: 3% auto;
}

.se-icon {
	margin-top: 20vh !important;
	margin-bottom: 20vh !important;
	text-align: center;
}

.se-icon a {
	color: #AAA;
}

.se-icon a:hover {
	color: #FFF;
}